*{
    font-family: "Manrope", sans-serif;
    color: white;
}

body{
    background-color: #06030F;
}

main{
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.basket-title{
    font-size: 48px;
    font-weight: 700;

    span{
        color: #77BE1D;
    }
}

.basket-card{
    width: 900px;
    height: 240px;
    display: flex;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid #13101B;
    border-bottom: 1px solid #13101B;
}

.basket-card-img{
    width: 200px;
    height: 240px;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        width: 100%;
    }
}

.basket-card-cont{
    margin-left: 30px;
}

.basket-card-title{
    font-size: 28px;
    font-weight: 500;
}

.basket-card-prices{
    width: 250px;
    display: flex;
    align-items: flex-end;
    margin-top: 20px;
}

.basket-card-new-price{
    font-size: 32px;
    font-weight: 700;
}

.basket-card-skidka{
    font-size: 24px;
    font-weight: 700;
    margin-left: 20px;
    color: #77BE1D;
}

.basket-card-old-price{
    color: #FFFFFF4D;
    font-size: 24px;
    font-weight: 700;
    margin-left: 20px;
}

.basket-card-dop-info{
    margin-top: 30px;
    font-size: 18px;
    font-weight: 400;

    span{
        color: #FFFFFF4D;
    }
}

.basket-card-cont-2{
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.basket-card-close{
    display: flex;
    justify-content: end;
}

.basket-card-count{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.basket-card-count-znach{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 24px;
    font-weight: 500;
}

.basket-card-count-minus,
.basket-card-count-plus{
    color: #36373C;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.basket-card-count-minus{
    margin-top: 4px;
}

.basket-card-like{
    width: 26px;
    height: 21px;
    margin-top: auto;
    margin-left: auto;
}