* {
  color: white;
  font-family: "Manrope", sans-serif;
}
body {
  background-color: #06030f;
  padding-inline: 20px;
}
/* Header styles */
header {
  width: 100%;
  border-bottom: solid 1px rgb(56, 56, 56);

  a {
    text-decoration: none;
    transition: all 0.3s;
  }
  a:hover {
    color: #77be1d;
  }
}
.headBlock_childBlock {
  max-width: 1400px;
  margin-inline: auto;
  margin-top: 20px;
  position: relative;
}
header img,
header h1 {
  cursor: pointer;
}

.headBlock1 {
  width: 100%;
  display: grid;
  grid-template-columns: 0.3fr 0.4fr 1fr 0.4fr;
  text-align: center;
  gap: 10px;
}
.langAndCurren {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}
.arrowImg {
  transition: all 0.2s;
}
.langAndCurrenChange {
  position: absolute;
  top: 30px;
  left: 2%;
  width: 140px;
  background-color: #0c061f;
  border-radius: 8px;
  padding: 6px;
  gap: 4px;
  opacity: 0;
  transition: all 0.2s;
  z-index: 1;
}
.changeLanguage {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 4px;
}
.changeCurrency {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;
}
.separator {
  height: 1px;
  width: 100%;
  background-color: gray;
  border-radius: 4px;
  margin-block: 4px;
}
.changeBtn,
.dollarBtn,
.euroBtn,
.rubleBtn {
  background: none;
  border: none;
  border-radius: 4px;
  transition: all 0.2s;
  cursor: pointer;
  padding-block: 5px;
}
.currency {
  color: #77be1d;
}
nav {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 6px;
}

.user {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.avatar {
  height: 34px;
  width: 34px;
  border-radius: 50%;

  img{
    width: 100%;
    height: 100%;
  }
}
.profileBlock_background{
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  opacity: 0;
  transition: all 0.2s;
}
.profileBlock{
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #0c061f;
  width: 380px;
  height: 380px;
  border-radius: 12px;
  padding: 20px;
  gap: 20px;

  h3{
    margin-top: 0;
    margin-bottom: 10px;
  }
}
.profileForm_user{
  display: flex;
  align-items: center;
  font-size: 20px;
  gap: 8px;
}
.profileFrom_avatar{
  height: 54px;
  width: 54px;
  border-radius: 50%;

  img{
    width: 100%;
    height: 100%;
  }
}
.email{
  text-decoration: underline;
  cursor: pointer;
}
.changeEmail{
  color: #77be1d;
  cursor: pointer;
}

.headBlock2 {
  width: 100%;
  display: grid;
  grid-template-columns: 0.27fr 1fr 0.12fr 0.14fr;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}
.logoBlock {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 6px;
}
.searchInpBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-color: #0c061f;
  padding-right: 6px;
  gap: 10px;
}
.searchBlock_parentBlock {
  display: flex;
  width: 100%;
  position: absolute;
  top: 120%;
  transition: all 0.4s;
}
.searchBlock {
  text-align: left;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background-color: #0c061f;
  z-index: 2;
}
.search {
  width: 100%;
  height: 34px;
  border: none;
  padding: 8px;
  border-radius: 12px;
  background: none;
  outline: none;
}

/* Search product cards styles */
.searchProductCard {
  padding: 16px;
  position: relative;
  display: flex;
  gap: 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.4s;
}
.searchProductCard:hover{
  background-color: #06030f;
}
.searchCardImg {
  width: 10%;
  height: 200px;
}
.seardchCardInfo {
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.searchCardName {
  font-size: 20px;
  text-align: left;
}
.searchCardCategories {
  width: 80%;
  position: absolute;
  bottom: 12px;
  display: flex;
  gap: 36px;
  align-items: center;
}
.searchCardPrice {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.searchCardAddBtns{
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 25%;
  right: 16px;
}
.addBasketSearchBtn {
  height: auto;
  display: flex;
  background-color: transparent;
  padding: 8px;
  border: solid 1px white;
  border-radius: 50%;
  transition: all 0.2s;
  cursor: pointer;

  img{
    width: 100%;
  }
}
.addFavouritesSearchBtn {
  height: auto;
  display: flex;
  background-color: transparent;
  padding: 8px;
  border: solid 1px white;
  border-radius: 50%;
  transition: all 0.2s;
  cursor: pointer;

  img{
    width: 100%;
  }
}
.addBasketSearchBtn:hover, .addFavouritesSearchBtn:hover{
  background-color: white;
}
/* Search product cards styles */

.free {
  color: #77be1d;
  text-align: right;
}
.saveBlock {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 10px;
}
/* Header styles */

/* Slider styles */
.slider {
  max-width: 1600px;
  max-height: 700px;
  margin-inline: auto;
  margin-block: 60px;
  overflow: hidden;
  position: relative;
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center;
  transition: all 0.6s;
  padding-bottom: 56px;
}
.arrowLeft {
  position: absolute;
  left: 9.2%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: rgba(196, 196, 196, 0.05);
  backdrop-filter: blur(10px);
  cursor: pointer;
  z-index: 1;
  transition: all 0.2s;
}
.arrowRight {
  position: absolute;
  right: 9.2%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: rgba(196, 196, 196, 0.05);
  backdrop-filter: blur(10px);
  cursor: pointer;
  z-index: 1;
  transition: all 0.2s;
}
.arrowRight:hover,
.arrowLeft:hover {
  background-color: rgba(196, 196, 196, 0.1);
}
.slideImg {
  /* width: 100%; */
  border-radius: 24px;
}
.firstSlide,
.slide {
  /* max-width: 1225px; */
  position: relative;
  transition: all 0.6s;
}
.slide_information {
  width: 86%;
  display: grid;
  position: absolute;
  top: 36%;
  left: 8%;
  gap: 16px;
}
.slide_priceBlock {
  display: flex;
  gap: 50px;
}

.slide_priceWithDiscount {
  font-size: 22px;
}
.slide_discount {
  font-size: 22px;
  color: #77be1d;
}
.slide_priceWithoutDiscount {
  font-size: 22px;
  color: rgba(255, 255, 255, 0.3);
  text-decoration: line-through;
}
.slide_btnsBlock {
  display: flex;
  gap: 20px;
}
.slideBtn {
  border: none;
  background-color: rgba(255, 255, 255, 0.05);
  padding-inline: 28px;
  padding-block: 24px;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s;
}
.slideBtn:hover {
  background-color: white;
  color: black;
}

.counterClides {
  width: 300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  position: absolute;
  bottom: 0;
  gap: 10px;
  z-index: 1;
}
.counter {
  height: 3px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 1px;
  transition: all 0.4s;
}
/* Slider styles */

/* Main styles */
main {
  max-width: 1400px;
  margin-inline: auto;
}
.smallProductCardsConteiner1,
.smallProductCardsConteiner2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 36px;
}

/* Product cards styles */
.productCard {
  height: 570px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
}
.productImg {
  width: 100%;
  height: 79%;
  border-radius: 12px;
}

.cardCategoriesBlock {
  display: flex;
  gap: 4px;
  position: absolute;
  top: 10px;
  left: 10px;
}
.topBlock {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background-color: black;
  padding-inline: 10px;
  padding-block: 6px;
  border-radius: 8px;
  font-size: 14px;
}
.hitBlock {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background-color: #ff3030;
  padding-inline: 10px;
  padding-block: 6px;
  border-radius: 8px;
  font-size: 14px;
}
.newBlock {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background-color: #ff4c00;
  padding-inline: 10px;
  padding-block: 6px;
  border-radius: 8px;
  font-size: 14px;
}
.addCardBtn {
  width: 86%;
  display: none;
  justify-content: center;
  align-items: center;
  opacity: 0;
  position: absolute;
  top: 67%;
  left: 8%;
  color: white;
  font-weight: 500;
  font-size: 16px;
  background-color: #77be1d;
  border: none;
  padding: 12px;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.2s;
}
.addCardBtn:hover {
  background-color: #649e18;
}
.addFavouritesBtn {
  /* width: 12%; */
  height: auto;
  display: none;
  opacity: 0;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: white;
  padding: 8px;
  border: none;
  border-radius: 50%;
  transition: all 0.2s;
  cursor: pointer;
}
.addFavouritesBtn:hover {
  background-color: rgb(235, 234, 234);
}
.productCard_podBlock1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6px;
}
.product_discount {
  color: #77be1d;
}
.product_priceWithoutDiscount {
  color: #3d394a;
  text-decoration: line-through;
}
.productCard_podBlock3 {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  gap: 36px;
  align-items: center;
}
.category {
  display: flex;
  align-items: center;
  gap: 14px;
}
.bullet {
  width: 14px;
  height: 14px;
  background-color: #3d394a;
  border-radius: 50%;
}
/* Product cards styles */

/* Offers cards styles */
.offersCardsConteiner {
  margin-top: 100px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 36px;
  overflow: hidden;
  padding-top: 60px;
}
.offersCard {
  position: relative;
  border-radius: 12px;
  padding: 20px;
}
.offersCard h2 {
  width: 300px;
  font-size: 28px;
  margin: 0;
  z-index: 2;
}
.offers_priceBlock {
  margin-top: 30px;
  display: flex;
  gap: 30px;
  font-size: 20px;
}
.offers_discount {
  color: #ffe817;
}
.offers_priceWithoutDiscount {
  color: #e4e2e2;
  text-decoration: line-through;
}
.offers_btns {
  display: flex;
  gap: 10px;
  margin-top: 50px;
}
.offersBtn {
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  padding-inline: 20px;
  padding-block: 16px;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s;
}
.offersBtn:hover {
  background-color: white;
  color: black;
}
.offersCardImg1 {
  width: 36%;
  position: absolute;
  top: -4rem;
  right: 0;
}
.offersCardImg2 {
  width: 54%;
  position: absolute;
  top: -7rem;
  right: -2rem;
  z-index: 1;
}
/* Offers cards styles */

/* Main Block 2 styles */
.productCatalog {
  display: flex;
  margin-top: 60px;
}
/* Main Block 2 styles */
/* Main Block 3 */
.bigProductCardsConteiner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 36px;
}
/* Main Block 3 */

/* Main Block 4 */
.mainBlock4 {
  margin-top: 80px;
}
.mainBlock4 img {
  width: 100%;
}
.mainBlock4 h2 {
  margin-top: 70px;
}
.theBlogConteiner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 30px;
}
.blogCardImg {
  width: 100%;
}
.newsName {
  font-size: 22px;
}
.news {
  font-size: 16px;
}
.date {
  color: #63656a;
  font-size: 15px;
}
.publicationsBtn {
  border: solid 1px gray;
  background: none;
  width: 100%;
  padding: 20px;
  border-radius: 12px;
  margin-top: 50px;
  color: #366edc;
  font-size: 16px;
  transition: all 0.2s;
  cursor: pointer;
}
.publicationsBtn:hover {
  background-color: #366edc;
  color: white;
}
/* Main Block 4 */

/* Main Block 5 */
.mainBlock5 {
  margin-top: 60px;
  position: relative;
}
.feedbackCardsConteiner {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 36px;
}
.feedbackCard {
  position: relative;
  width: 314px;
}
.estimationBlock {
  display: flex;
  gap: 4px;
}
.starBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  background-color: #00b67a;
}
.datePublication {
  position: absolute;
  top: 0;
  right: 0;
  color: #3d394a;
}
.feedbackUserName {
  color: #3d394a;
  position: absolute;
  bottom: 0;
  left: 0;
}
.feedback {
  margin-bottom: 50px;
}
#addFeedbackBtn {
  position: absolute;
  top: 0;
  right: 0;
  border: solid 1px gray;
  background: none;
  width: 15%;
  padding: 10px;
  border-radius: 12px;
  color: #366edc;
  font-size: 16px;
  transition: all 0.2s;
  cursor: pointer;
}
#addFeedbackBtn:hover {
  background-color: #366edc;
  color: white;
}
.addFeedBack_background {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  opacity: 0;
  transition: all 0.2s;
}
.addFeedbackFrom {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #0c061f;
  width: 380px;
  height: 380px;
  border-radius: 12px;
  padding: 20px;
  gap: 10px;

  h3,
  label {
    width: 94%;
  }

  button {
    border: solid 1px gray;
    background: none;
    width: 100%;
    padding: 10px;
    border-radius: 12px;
    margin-top: 40px;
    color: #366edc;
    font-size: 16px;
    transition: all 0.2s;
    cursor: pointer;
  }
  button:hover {
    background-color: #366edc;
    color: white;
  }

  input {
    width: 94%;
    background-color: #0c061f;
    padding: 10px;
    border-radius: 12px;
    border: solid 1px #3d394a;
  }
}
#closeFeedbackFrom, #closeProfile {
  width: 4%;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
/* Main Block 5 */
/* Main styles */

/* Footer styles*/
footer {
  border-block: solid 1px rgb(56, 56, 56);
  padding-block: 80px;
  margin-top: 80px;
  margin-bottom: 26px;
}
.footerParentBlock {
  max-width: 1400px;
  margin-inline: auto;
}
.footerBlock1 {
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footerBlock2 {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.footerBlock2_podBlock p {
  color: #cdcdcf;
}
.footerBlock2_podBlock2 {
  display: flex;
  align-items: center;
  gap: 10px;
}
.socialNetworkBlock {
  position: relative;
  max-width: 1400px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.2fr 0.2fr;
  align-items: center;
}
.socialNetworkBlock a {
  display: flex;
  justify-content: left;
  color: #366edc;
}
.socialNetworkBlock p {
  display: flex;
  justify-content: center;
  color: #63686d;
}
.socialNetworkBlock img {
  cursor: pointer;
}
.ialNetworkBlock .langAndCurren {
  display: flex;
  justify-content: center;
}
.langAndCurrenChange2 {
  position: absolute;
  bottom: 41px;
  left: 76%;
  width: 140px;
  background-color: #0c061f;
  border-radius: 8px;
  padding: 6px;
  gap: 4px;
  opacity: 0;
  transition: all 0.2s;
  z-index: 1;
}
.socialNetwork_icons {
  display: flex;
  justify-content: space-between;
}
/* Footer styles*/
/*Media requests*/
@media (max-width: 1500px) {
  .arrowLeft {
    position: absolute;
    left: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgba(196, 196, 196, 0.05);
    backdrop-filter: blur(10px);
    cursor: pointer;
    z-index: 1;
    transition: all 0.2s;
  }
  .arrowRight {
    position: absolute;
    right: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgba(196, 196, 196, 0.05);
    backdrop-filter: blur(10px);
    cursor: pointer;
    z-index: 1;
    transition: all 0.2s;
  }
  .addCardBtn {
    width: 86%;
    display: none;
    justify-content: center;
    align-items: center;
    opacity: 0;
    position: absolute;
    top: 56%;
    left: 8%;
    color: white;
    font-weight: 500;
    font-size: 16px;
    background-color: #77be1d;
    border: none;
    padding: 12px;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.2s;
  }
  .productImg {
    width: 100%;
    height: 67%;
  }
}
/*Media requests*/
