* {
  color: white;
  font-family: "Manrope", sans-serif;
}
body {
  background-color: #06030f;
  padding-inline: 20px;
}
/* Header styles */
header {
  position: relative;
  max-width: 1400px;
  margin-inline: auto;
  margin-top: 20px;
}

header img,
header h1 {
  cursor: pointer;
}

.headBlock1 {
  display: grid;
  grid-template-columns: 0.3fr 0.4fr 1fr 0.4fr;
  text-align: center;
  gap: 10px;
}
.langAndCurren {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}
.arrowImg {
  transition: all 0.2s;
}
.langAndCurrenChange {
  position: absolute;
  top: 30px;
  left: 2%;
  width: 140px;
  background-color: #0c061f;
  border-radius: 8px;
  padding: 6px;
  gap: 4px;
  opacity: 0;
  transition: all 0.2s;
  z-index: 1;
}
.changeLanguage {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 4px;
}
.changeCurrency {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;
}
.separator {
  height: 1px;
  width: 100%;
  background-color: gray;
  border-radius: 4px;
  margin-block: 4px;
}
.changeBtn {
  background: none;
  border: none;
  border-radius: 4px;
  transition: all 0.2s;
  cursor: pointer;
  padding-block: 5px;
}
.changeBtn:hover {
  background-color: #77be1d;
}
.currency {
  color: #77be1d;
}
nav {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 6px;
}
a {
  text-decoration: none;
  transition: all 0.3s;
}
a:hover {
  color: #77be1d;
}
.user {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 8px;
}
.avatar {
  height: 34px;
  width: 34px;
  background-color: grey;
  border-radius: 50%;
}

.headBlock2 {
  display: grid;
  grid-template-columns: 0.25fr 1fr 0.12fr 0.14fr;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}
.logoBlock {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 6px;
}
.searchBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-color: #0c061f;
  padding-right: 6px;
  gap: 10px;
}
.searchInp {
  width: 100%;
  height: 34px;
  border: none;
  padding: 8px;
  border-radius: 12px;
  background: none;
}
.free {
  color: #77be1d;
  text-align: right;
}
.saveBlock {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 10px;
}
.header_borderBottom {
  height: 1px;
  width: 100%;
  margin-top: 20px;
  background-color: rgb(56, 56, 56);
}
/* Header styles */

/* Slider styles */
.slider {
  max-width: 1600px;
  max-height: 700px;
  margin-inline: auto;
  margin-block: 60px;
  overflow: hidden;
  position: relative;
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center;
  transition: all 0.6s;
  padding-bottom: 56px;
}
.arrowLeft {
  position: absolute;
  left: 9.2%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: rgba(196, 196, 196, 0.05);
  backdrop-filter: blur(10px);
  cursor: pointer;
  z-index: 1;
  transition: all 0.2s;
}
.arrowRight {
  position: absolute;
  right: 9.2%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: rgba(196, 196, 196, 0.05);
  backdrop-filter: blur(10px);
  cursor: pointer;
  z-index: 1;
  transition: all 0.2s;
}
.arrowRight:hover,
.arrowLeft:hover {
  background-color: rgba(196, 196, 196, 0.1);
}
.slideImg {
  /* width: 100%; */
  border-radius: 24px;
}
.firstSlide,
.slide {
  /* max-width: 1225px; */
  position: relative;
  transition: all 0.6s;
}
.slide_information {
  width: 86%;
  display: grid;
  position: absolute;
  top: 36%;
  left: 8%;
  gap: 16px;
}
.slide_priceBlock {
  display: flex;
  gap: 50px;
}

.slide_priceWithDiscount {
  font-size: 22px;
}
.slide_discount {
  font-size: 22px;
  color: #77be1d;
}
.slide_priceWithoutDiscount {
  font-size: 22px;
  color: rgba(255, 255, 255, 0.3);
  text-decoration: line-through;
}
.slide_btnsBlock {
  display: flex;
  gap: 20px;
}
.slideBtn {
  border: none;
  background-color: rgba(255, 255, 255, 0.05);
  padding-inline: 28px;
  padding-block: 24px;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s;
}
.slideBtn:hover {
  background-color: white;
  color: black;
}

.counterClides {
  width: 300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  position: absolute;
  bottom: 0;
  gap: 10px;
  z-index: 1;
}
.counter {
  height: 3px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 1px;
  transition: all 0.4s;
}
/* Slider styles */

/* Main styles */
main {
  max-width: 1400px;
  margin-inline: auto;
}
.smallProductCardsConteiner1, .smallProductCardsConteiner2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 66px;
}

/* Product cards styles */
.productCard {
  height: 570px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.productImg {
  width: 100%;
  height: 79%;
}

.cardCategoriesBlock{
  display: flex;
  gap: 4px;
  position: absolute;
  top: 10px;
  left: 10px;
}
.topBlock {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background-color: black;
  padding-inline: 10px;
  padding-block: 6px;
  border-radius: 8px;
  font-size: 14px;
}
.hitBlock{
  display: none;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background-color: #FF3030;
  padding-inline: 10px;
  padding-block: 6px;
  border-radius: 8px;
  font-size: 14px;
}
.newBlock{
  display: none;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background-color: #FF4C00;
  padding-inline: 10px;
  padding-block: 6px;
  border-radius: 8px;
  font-size: 14px;
}
.addCardBtn {
  width: 86%;
  display: none;
  justify-content: center;
  align-items: center;
  opacity: 0;
  position: absolute;
  top: 69%;
  left: 8%;
  color: white;
  font-weight: 500;
  font-size: 16px;
  background-color: #77be1d;
  border: none;
  padding: 12px;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.2s;
}
.addCardBtn:hover {
  background-color: #649e18;
}
.addFavouritesBtn {
  width: 12%;
  height: auto;
  display: none;
  opacity: 0;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: white;
  padding: 8px;
  border: none;
  border-radius: 50%;
  transition: all 0.2s;
  cursor: pointer;
}
.addFavouritesBtn:hover {
  background-color: rgb(235, 234, 234);
}
.addFavouritesBtn img {
  width: 100%;
}
.productCard_podBlock1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6px;
}
.product_discount {
  color: #77be1d;
}
.product_priceWithoutDiscount {
  color: #3d394a;
  text-decoration: line-through;
}
.productCard_podBlock3 {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  gap: 36px;
  align-items: center;
}
.category {
  display: flex;
  align-items: center;
  gap: 14px;
}
.bullet {
  width: 14px;
  height: 14px;
  background-color: #3d394a;
  border-radius: 50%;
}
/* Product cards styles */

/* Offers cards styles */
.offersCardsConteiner{
  margin-top: 100px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 66px;
  overflow: hidden;
  padding-top: 60px;
}
.offersCard{
  position: relative;
  border-radius: 12px;
  padding: 20px;
}
.offersCard h2{
  width: 300px;
  font-size: 28px;
  margin: 0;
  z-index: 2;
}
.offers_priceBlock{
  margin-top: 30px;
  display: flex;
  gap: 30px;
  font-size: 20px;
}
.offers_discount{
  color: #FFE817;
}
.offers_priceWithoutDiscount{
  color: #e4e2e2;
  text-decoration: line-through;
}
.offers_btns{
  display: flex;
  gap: 10px;
  margin-top: 50px;
}
.offersBtn{
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  padding-inline: 20px;
  padding-block: 16px;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s;
}
.offersBtn:hover{
  background-color: white;
  color: black;
}
.offersCardImg1{
  width: 36%;
  position: absolute;
  top: -4rem;
  right: 0;
}
.offersCardImg2{
  width: 54%;
  position: absolute;
  top: -7rem;
  right: -2rem;
  z-index: 1;
}
/* Offers cards styles */

/* Main styles */

/*Media requests*/
@media (max-width: 1500px) {
  .arrowLeft {
    position: absolute;
    left: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgba(196, 196, 196, 0.05);
    backdrop-filter: blur(10px);
    cursor: pointer;
    z-index: 1;
    transition: all 0.2s;
  }
  .arrowRight {
    position: absolute;
    right: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgba(196, 196, 196, 0.05);
    backdrop-filter: blur(10px);
    cursor: pointer;
    z-index: 1;
    transition: all 0.2s;
  }
  .addCardBtn {
    width: 86%;
    display: none;
    justify-content: center;
    align-items: center;
    opacity: 0;
    position: absolute;
    top: 57%;
    left: 8%;
    color: white;
    font-weight: 500;
    font-size: 16px;
    background-color: #77be1d;
    border: none;
    padding: 12px;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.2s;
  }
  .productImg {
    width: 100%;
    height: 67%;
  }
}
/*Media requests*/
